* {
  margin: 0;
  padding: 0;
}

header {
  width: 90%;
  text-align: center;
}
header h1 {
  padding-bottom: 40px;
}

main {
  margin: 0 auto;
  width: 90%;
  display: flex;
}
.container {
  min-width: 20%;
  border: 2px solid red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.space {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.city {
  color: red;
  text-transform: uppercase;
}
.text_Lobster {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.degres {
  font-size: 60px;
}
.cloud {
  font-size: 20px;
  text-transform: uppercase;
}
hr {
  opacity: 0, 3;
}
